<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pairs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'secret_santa/secret_santa.css' %}">
</head>
<body>
    <h1>Generated Pairs</h1>
    <ul>
        {% for pair in pairs %}
            <li>{{ pair.0.name }} will give a gift to {{ pair.1.name }}</li>
        {% endfor %}
    </ul>

    <button><a href="{% url 'game' %}">Start Over</a></button>
    <button><a href="{% url 'home' %}">Back to Home</a></button>

</body>
</html>
