<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Santa Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'secret_santa/secret_santa.css' %}">
</head>
<body>
    <h1>Secret Santa Game</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Participant</button>
    </form>

    <h2>Participants</h2>
    {% if participants %}
    <ul>
        {% for participant in participants %}
            <li>{{ participant.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="yes_or_no">No participants yet.</p>
    {% endif %}

    <form method="post" action="{% url 'delete_all_participants' %}">
        {% csrf_token %}
        <button type="submit">Delete All Participants</button>
    </form>

    {% if participants.count > 1 %}
        <form method="post">
            {% csrf_token %}
            <button name="generate_pairs">Generate Pairs</button>
        </form>
    {% endif %}

</body>
</html>
