body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007BFF;
    text-align: center;
}

.yes_or_no{
    font-size: 100px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #007BFF;
    text-align: center;
}

ul {
    margin-right: 2.5%;
    text-align: center;
    list-style: none;
}

p{
    text-align: center;
}
form {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    margin: 2% auto auto;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
